<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project Manager</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/FSD-Project-manager-0.0.1-SNAPSHOT/adduser" routerLinkActive="active">Add User</a>
      </li>
      <li>
        <a routerLink="/FSD-Project-manager-0.0.1-SNAPSHOT/addproject" routerLinkActive="active">Add Project</a>
      </li>
      <li>
        <a routerLink="/FSD-Project-manager-0.0.1-SNAPSHOT/addtask" routerLinkActive="active">Add Task</a>
      </li>
      <li>
        <a routerLink="/FSD-Project-manager-0.0.1-SNAPSHOT/viewtask" routerLinkActive="active">View Task</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>